*.d
*.o
/SCE_VCU_FreeRTOS.X/build/
SCE_VCU_FreeRTOS.X/dist/default/debug/memoryfile.xml

SCE_VCU_FreeRTOS.X/dist/default/production/memoryfile.xml

SCE_VCU_FreeRTOS.X/dist/default/production/SCE_VCU_FreeRTOS.X.production.elf

SCE_VCU_FreeRTOS.X/dist/default/production/SCE_VCU_FreeRTOS.X.production.hex

SCE_VCU_FreeRTOS.X/dist/default/production/SCE_VCU_FreeRTOS.X.production.map
