*.o
*.elf
*.map
*.d
**/nbproject/private
**/nbproject/Makefile-*
**/nbproject/Package-*
**/nbproject/project.properties
**/*.X/debug
**/*.X/dist
**/*.X/build
**/*.X/.generated_files
**/*.IAR/Debug
**/*.IAR/settings
**/*.IAR/*.dep
**/*.IAR/*.custom_argvars
**/*.KEIL/Objects
**/*.KEIL/*.uvguix.*
Gemfile*

_build/SCE_VCU_FreeRTOS/default/.cache/clangd/index/apps_task.h.EA68E1DFEA9DB3A1.idx

_build/SCE_VCU_FreeRTOS/default/.cache/clangd/index/can_read_task.h.F51FEDB349DC429D.idx

_build/SCE_VCU_FreeRTOS/default/.cache/clangd/index/can_send_task.h.0573DE90854C840D.idx

_build/SCE_VCU_FreeRTOS/default/.cache/clangd/index/definitions.h.767F28F70B107579.idx

_build/SCE_VCU_FreeRTOS/default/.cache/clangd/index/FreeRTOSConfig.h.F4B977C8CBF95474.idx

_build/SCE_VCU_FreeRTOS/default/.cache/clangd/index/initialization.c.BBF4B98F959AB137.idx

_build/SCE_VCU_FreeRTOS/default/.cache/clangd/index/interrupts.h.5ADFFAA7B2383143.idx

_build/SCE_VCU_FreeRTOS/default/.cache/clangd/index/plib_clk.c.64137CA4CC6CB62B.idx

_build/SCE_VCU_FreeRTOS/default/.cache/clangd/index/plib_evic.h.71D7F76DDF6DFA3D.idx

_build/SCE_VCU_FreeRTOS/default/.cache/clangd/index/plib_gpio.c.F75A0FA40A5A7C98.idx

_build/SCE_VCU_FreeRTOS/default/.cache/clangd/index/plib_gpio.h.949F073E962DECBB.idx

_build/SCE_VCU_FreeRTOS/default/.cache/clangd/index/alloca.h.83CC49496003EDBB.idx

_build/SCE_VCU_FreeRTOS/default/.cache/clangd/index/FreeRTOS_tasks.c.633EE222B97D3AF3.idx

_build/SCE_VCU_FreeRTOS/default/.cache/clangd/index/p32mk1024mcm064.h.0B6F737FDE2ABAE4.idx

_build/SCE_VCU_FreeRTOS/default/.cache/clangd/index/p32mk1024mcm064.h.77F28EFFE233F09D.idx

_build/SCE_VCU_FreeRTOS/default/.cache/clangd/index/queue.c.011F72CC283C9F03.idx

_build/SCE_VCU_FreeRTOS/default/.cache/clangd/index/queue.h.AF2C86D020A89454.idx

_build/SCE_VCU_FreeRTOS/default/.cache/clangd/index/task.h.59F5BA9CC37D49A3.idx

_build/SCE_VCU_FreeRTOS/default/.cache/clangd/index/timers.h.E38B4776F2A5F22A.idx
